.fight-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

.fight-screen {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.player-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.combat-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.combat-log {
  background-image: url("../../../backgrounds/underground-arena.png");
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
  padding: 20px;
  border: 2px solid #53350d;
  width: 1000px;
  height: 800px;
  margin: auto;
}

.enemy-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}
