/* src/components/Player.css */
.player-container {
  margin: 0 auto;
  max-width: 800px;
  text-align: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}

.player-form {
  margin-bottom: 20px;
}

.player-form label {
  display: block;
  margin-bottom: 10px;
}

.player-form input,
.player-form select {
  margin-left: 10px;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.class-info {
  text-align: left;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 20px;
}

.player-info {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
