.player-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
}

.player-name {
  display: flex;
  flex-direction: column;
  font-size: 24px;
  font-weight: bold;
}

.player-class {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}
.stat-block {
  width: 400px;
  height: 400px;
  margin: auto;
  overflow: scroll;
}

.generate-ability-scores {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.modifier {
  color: #0d8636; /* Choose a color that fits your design */
  margin-left: 5px;
}
