@font-face {
  font-family: "BetterPixels";
  src: url("/assets/fonts/BetterPixels.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "TimesNewPixel";
  src: url("/assets/fonts/TimesNewPixel.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "TimesNewPixel", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.body-content {
  flex: 1;
  margin-top: 30px; /* Adjusted margin for navbar */
  padding-bottom: 0px; /* Space for the footer */
}

.footer {
  width: 100%;
  margin-top: auto;
}

::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}
