.carousel-container {
  /* background-image: url("../../../backgrounds/ruins.png"); */
  background-repeat: no-repeat;
  padding: 1px;
}

.characterPic-className {
  filter: drop-shadow(8px 8px 8px);
  text-align: center;
  cursor: pointer;
  transition: transform 1s ease-out, filter 1s ease-out;
}
.characterPic-className:hover,
.characterPic-className img.selected {
  transform: scale(1.1);
  transition-duration: 1s;
}

.characterPic-className h3 {
  transition: color 1s ease-out, text-shadow 1s ease-out;
}

.characterPic-className:hover h3,
.characterPic-className img.selected + h3 {
  color: #ffa602;
  text-shadow: 2px 2px 2px #813918;
  transition-duration: 1s;
}

.selected,
.selected img.selected {
  transform: scale(1.1); /* Slightly enlarge */
}
